body{
    background-color: black;
}

#letters{
    background-color: yellow;
    height: 100px;
    width: 775px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto; */
}

.letter{
    width: 70px;
    height: 60px;
    border-bottom:   black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.letter p{
    font-size: 50px;
}

#buttonDiv{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#letterQuess{
    text-align: center;
    width: 70px;
    font-size: 50px;
}

#buttonDiv p{
    font-size: 50px;
    color: yellow;
}